<?xml version="1.0" ?>
<model>
    <name>WestElmIris</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>MyParadissi</name>
        <email></email>
        <link>https://3dwarehouse.sketchup.com/model/uffce6f7a-4753-4f68-b70e-e8b1790b7fd1/West-Elm-Iris-Planter-Chevron-Stand</link>
    </author>
    <description></description>
</model>
