<?xml version="1.0"?>
<model>
  <name>water_particle</name>
  <version>0.0.0</version>
  <author>
   <name>Petr Štibinger</name>
   <email>stibipet@fel.cvut.cz</email>
   <link>https://github.com/ctu-mrs/mrs_gazebo_common_resources/tree/master/src/sensor_and_model_plugins</link>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    A spherical water particle
  </description>
</model>
